@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div>Connected Agents</div>
    @if(this.Model.Agents.Count > 0)
    {
        foreach (var agent in this.Model.Agents)
        {
            <div style="display: flex; flex-direction: column; gap: 0.5rem">
                <div style="border: 1px solid black; padding: 0.5rem;">
                    @agent.Name @agent.Guid @agent.Address @agent.Status
                </div>
            </div>
        }
    }
    else
    {
        <div>No agents connected.</div>
    }
</div>
