.lime-form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.lime-form-item {
    display: flex;
    flex-direction: column;

    gap: 0.1rem;
}

.field-validation-error {
    color: red;
    font-weight: normal;
}