@page
@model LIME.Pages.AgentsModel
@{
    ViewData["Title"] = "Agents";
}

<a asp-page="/Agents/Add">Add</a>
<table style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    @if (this.Model.Agents.Count < 1)
    {
        <tr>
            <td>No agents.</td>
        </tr>
    }
    else
    {
        @foreach (var client in this.Model.Agents)
        {
            <tr>
                <td>@(client.Name)</td>
                <td>
                @if (client.Activated)
                {
                    @if(1 == 1)
                    {
                        <span class="text-success">Online</span>
                    }
                    else
                    {
                        <span class="text-danger">Offline</span>
                    }
                }
                else
                {
                    <span class="text-warning">Pending</span>
                }
                </td>
                <td>@(client.Address):@(client.Port)</td>
                <td><a asp-page="/Agents/Remove" asp-route-id="@(client.Id)">Delete</a></td>
            </tr>
        }
    }
</table>
