@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div style="font-weight: bold; font-size: 1.25rem">Connected Clients</div>
@if (this.Model.Mediator.ConnectedAgents.Count < 1)
{
    <div>No clients connected.</div>
}
else
{
    @foreach (var client in this.Model.Mediator.ConnectedAgents)
    {
        @if (client.Client is not null)
        {
            <div style="border: 1px solid black; padding: 0.5rem">
                @client.Client.Client.RemoteEndPoint
            </div>
        }
    }
}