<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LIME.Mediator</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="main">
        <header class="sidebar">
            <img src="~/icons/icon.png" width="64" height="64" />
            <nav>
                <ul class="sidebar-menu">
                    <a class="sidebar-menu-item" asp-area="" asp-page="/Index"><li>Dashboard</li></a>
                    <a class="sidebar-menu-item" asp-area="" asp-page="/Agent/CreateAgent"><li>Create Agent</li></a>
                </ul>
            </nav>
        </header>
        <main role="main" class="page">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            &copy; 2024 - Lime Dashboard
        </div>
    </footer>

    <script src="~/lib/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>