<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LIME.Mediator</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LIME.Mediator.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="main">
        <header class="sidebar">
            <nav>
                <div>
                    <a asp-area="" asp-page="/Index">Dashboard</a>
                    <div>
                        <ul class="sidebar-menu">
                            <li class="sidebar-menu-item">
                                <a asp-area="" asp-page="/CreateAgent">Create Agent</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="page">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            &copy; 2024 - Lime Dashboard
        </div>
    </footer>

    <script src="~/lib/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>